@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  color:#F6F6F6;
}
h1 {font-weight: bolder !important;}
.title {
  color:white !important;
}
h1,h2,h3,h4,h5,h6 {
  color: #1a608a !important;
}
p {
  font-size: 15px;
}
.header-title {
  padding:80px 0px;
  background-image: linear-gradient(-45deg, #37ecba 0%, #72afd3 100%);
}
.header-title  p {
  color:white;
}
.title-icon { color: white; font-size: 30px; opacity: 0.4;}
.header-title-container{
  text-align: center;
}
.header-description {
  margin-bottom: 30px;
}
.header-link {
  padding:15px;
  border:solid 1px white;
  color: white;
  text-decoration: none;
  border-radius: 50px
}
.header-link:hover{
  background:white;
  color:gray;
  text-decoration: none;
}
.demo {text-align: center; padding: 35px 0px;}
.demo-container{ background: #fbfbfb;}
.demo-calendar {
  max-width: 768px;
  margin: auto;
}
.btn-fullcalendar-primary {
  border: 3px solid #27d2d2 !important;
  background: transparent !important;
  color: #27d2d2 ;
}
.btn-fullcalendar-primary:hover {
  background-color: #27d2d2 !important;
  color: white !important ;
}
.footer {
  margin-bottom: 100px;
}
